fastapi
uvicorn
pydub
moviepy
transformers
python-dotenv
requests
ffmpeg-python
torch
soundfile
motor
googletrans==4.0.0-rc1
python-docx
python-multipart==0.0.20
pydantic-settings==2.9.1
huggingface_hub>=0.20.0
httpx==0.24.1
aiofiles==23.1.0
tenacity==8.2.2
